<header class="cabecalho">
    <span class="nav-logo"><a class="nav-link" href="/">Logo</a></span>
    <nav class="nav">
        <a class="nav-link" href="../cadastra">Cadastrar Noticias</a>
        <a class="nav-link" href="/">Exibir Noticias</a>
        <form action="/noticia/busca" class="form-nav" method="get">
            <input class="nav-input" type="text" name="search" id="">
            <button type="submit" class="btn-nav"><i class="fa fa-search"></i></button>
        </form>
    </nav>
</header>
